<!DOCTYPE html>
<html lang="{{ .Lang | default "fr" }}">
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <meta http-equiv="Cache-control" content="public" />
      <meta http-equiv="Expires" content="259200" />
      <meta name="revisit-after" content="5 days" />
      <meta name="robots" content="index, follow" />
      <meta name="author" content="Jérôme Abel" />
      <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
      <meta name="keywords" content="{{ with .Site.Params.keywords }}{{ . }}{{ end }}">
      {{ hugo.Generator }}
      <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} / {{ . }} {{ end }}{{ end }}</title>
      <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
      <!--<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">-->
      {{- $csstachyons := resources.Get "/css/tachyons.min.css" -}}
      {{- $csscustom := resources.Get "/css/custom.css" -}}
      {{- $cssfontello := resources.Get "/css/fontello.css" -}}
      {{ $allcss := slice $csstachyons $csscustom $cssfontello | resources.Concat "/css/all.css" | minify }}
     <link rel="stylesheet" href="{{ $allcss.RelPermalink }}">

      {{- if .Params.image -}}
        {{- $image_file := .Param "image" -}}
        {{- if $image_file -}}
          {{- $image := .Resources.GetMatch ($image_file) -}}
          {{- $image_480 := $image.Resize "480x" -}}
          {{- $image_768 := $image.Resize "768x" -}}
          {{- $image_1536 := $image.Resize "1536x" -}}
          {{- $image_992 := $image.Resize "992x" -}}
          {{- $image_1984 := $image.Resize "1984x" -}}
          {{- $image_1200 := $image.Resize "1200x" -}}
          {{- $image_2400 := $image.Resize "2400x" -}}
          {{- $image_2500 := $image.Resize "2500x" -}}
          {{- $image_5000 := $image.Resize "5000x" -}}
          {{- $image_1024 := $image.Resize "1024x" -}}
          {{- $image_2000 := $image.Resize "2000x" -}}

          {{- $image_480_webp := $image.Resize "480x webp" -}}
          {{- $image_768_webp := $image.Resize "768x webp" -}}
          {{- $image_1536_webp := $image.Resize "1536x webp" -}}
          {{- $image_992_webp := $image.Resize "992x webp" -}}
          {{- $image_1984_webp := $image.Resize "1984x webp" -}}
          {{- $image_1200_webp := $image.Resize "1200x webp" -}}
          {{- $image_2400_webp := $image.Resize "2400x webp" -}}
          {{- $image_2500_webp := $image.Resize "2500x webp" -}}
          {{- $image_5000_webp := $image.Resize "5000x webp" -}}
          {{- $image_1024_webp := $image.Resize "1024x webp" -}}
          {{- $image_2000_webp := $image.Resize "2000x webp" -}}

        <style>
        #img_header { 
            background-image: url({{ $image_768.Permalink }});
            background-image: image-set(
            url({{ $image_768_webp.Permalink }}) type("image/webp") ,
              url({{ $image_768.Permalink }}) type("image/jpeg")
              );
        }
        @media (min-resolution: 192dpi) {
              #img_header { 
                background-image: url({{ $image_1536.Permalink }});
                background-image: image-set(
                url({{ $image_1536_webp.Permalink }}) type("image/webp"),
                url({{ $image_1536.Permalink }}) type("image/jpeg"));
              }
            }
            @media (min-width: 769px) {
              #img_header {
                background-image: url({{ $image_992.Permalink }});
                background-image: image-set(
                url({{ $image_992_webp.Permalink }}) type("image/webp"),
                url({{ $image_992.Permalink }}) type("image/jpeg"));
              }
            }
            @media (min-width: 769px) and (min-resolution: 192dpi) {
              #img_header { 
                background-image: url({{ $image_1984.Permalink }});
                background-image: image-set(
                url({{ $image_1984_webp.Permalink }}) type("image/webp"),
                url({{ $image_1984.Permalink }}) type("image/jpeg"));
              }
            }
            @media (min-width: 992px) {
              #img_header { 
                background-image: url({{ $image_1200.Permalink }});
                background-image: image-set(
                url({{ $image_1200_webp.Permalink }}) type("image/webp"),
                url({{ $image_1200.Permalink }}) type("image/jpeg"));
              }
            }
            @media (min-width: 992px) and (min-resolution: 192dpi) {
              #img_header { 
                background-image: url({{ $image_2400.Permalink }});
                background-image: image-set(
                url({{ $image_2400_webp.Permalink }}) type("image/webp"),
                url({{ $image_2400.Permalink }}) type("image/jpeg"));
              }
            }
            @media (min-width: 1200px) {
              #img_header { 
                background-image: url({{ $image_1984.Permalink }});
                background-image: image-set(
                url({{ $image_1984_webp.Permalink }}) type("image/webp"),
                url({{ $image_1984.Permalink }}) type("image/jpeg"));
              }
            }
            @media (min-width: 1200px) and (min-resolution: 192dpi) {
              #img_header { 
                background-image: url({{ $image_2500.Permalink }});
                background-image: image-set(
                url({{ $image_2500_webp.Permalink }}) type("image/webp"),
                url({{ $image_2500.Permalink }}) type("image/jpeg"));
              }
            }

            @media (min-width: 2000px) {
              #img_header { 
                background-image: url({{ $image_2500.Permalink }});
                background-image: image-set(
                url({{ $image_2500_webp.Permalink }}) type("image/webp"),
                url({{ $image_2500.Permalink }}) type("image/jpeg"));
              }
            }
            @media (min-width: 2000px) and (min-resolution: 192dpi) {
              #img_header { 
                background-image: url({{ $image_5000.Permalink }});
                background-image: image-set(
                url({{ $image_5000_webp.Permalink }}) type("image/webp"),
                url({{ $image_5000.Permalink }}) type("image/jpeg"));
              }
            }
          </style>
          {{- end -}}
      {{- end -}}

      {{- template "_internal/opengraph.html" . -}}
      {{- template "_internal/schema.html" . -}}
      {{- template "_internal/twitter_cards.html" . -}}
    </head>
    <body class="ma0 avenir sans-serif {{ .Param "body_classes"  | default "bg-near-white black f5" }}">
        {{ block "header" . }}{{- partial "header.html" . -}}{{ end }}
        {{ block "main" . }}{{ end }}
        {{ block "footer" . }}{{- partial "footer.html" . -}}{{ end }}
        
        {{- $jslazyload := resources.Get "/js/lazyload.min.js" -}}
        {{- $jsplayer := resources.Get "/js/player.js" -}}
        {{- $jscustom := resources.Get "/js/custom.js" -}}
        {{- $alljs := slice $jslazyload $jsplayer $jscustom | resources.Concat "/js/all.js" | minify -}}
        <script src="{{ $alljs.RelPermalink }}" ></script>
        <script>
        (function () {
          let lasyLoadInstance = new LazyLoad({
            threshold: 0          
          });
        })();
        </script>
    </body>
</html>
