{{ define "main" }}

{{- $layout := "ph4-l pb5-l ph3-m ph1 pb4" -}}
{{- $div := "fl w-50 w-25-l pa2" -}}

<main role="main"> 
  <div class="cf w-100 {{ $layout }}">
    {{- $pages := where .Site.RegularPages "Section" .Section }}
    {{- range $pages.ByDate.Reverse -}}
      {{- $image := .Resources.GetMatch (.Params.image) -}}
      {{- $image = $image.Fill "600x800 center" -}}
      {{- $image_webp := $image.Fill "600x800 webp center" -}}

        <div class="fl {{ $div }}">
        <a href="{{ .Permalink }}" 
            class="db aspect-ratio aspect-ratio--3x4 cover bg-center no-underline"
            style="background-image: url({{ $image_webp.Permalink }}), url({{ $image.Permalink }});">
            <h1 class="{{ .Params.txt_color | default "black" }} f4-ns f5 ttu tracked fw4 pa4-ns pa3 ma0">{{ .Title }}</h1>
        </a>
        </div>
    {{- end -}}
  </div>
</main>

{{ end }}