{{ define "main" }}

{{- $layout := "pa5-l pa4" -}}
{{- $a_links := "link ttn dim black-80 nowrap" -}}
{{- $li_links := "pv0" -}}

<section class="mw9 center cf {{ $layout }}">

  <div class="fn fl-ns w-100 w-50-l ttu tracked f5-ns f6 pr5-ns pr3">
    <h2 class="lh-title f3-ns f4 fw6 mv3">{{ .Title }}</h2>
      <p>
        {{- $date := dateFormat "2006" .Date -}}
        {{- with .Params.date_start -}}
          {{- $date_start := dateFormat "2006" . -}}
          {{- if not ( eq $date $date_start ) -}}
            <time datetime="{{ dateFormat "2006-01-01" .  | safeHTML }}">{{ $date_start }}</time> - 
          {{- end -}}
        {{- end -}}
        <time datetime="{{ .Date.Format "2006-01-01" | safeHTML }}"> {{ $date }}</time></p>
      <p class="lh-copy">{{ .Params.techniques }}</p>
      <p>{{ .Params.dimensions }}</p>
  </div>

  <div class="fn fl-ns w-100 w-50-l lh-copy f4-ns f5 ">
    <div class="md-text">
      {{ .Content }}
    </div>
    

    {{- $links :=  slice "git" "vimeo" "youtube" "wiki" "link" -}}
    {{- $nb_links := 0 -}}
    {{- range $links -}}
     {{ if (isset $.Params . ) }} {{ $nb_links = (add $nb_links 1)}} {{ end }}
    {{- end -}}

    {{- if gt $nb_links 0 -}}
    <div class="dt w-100 bt b--black-10 mt5-ns mt4 pt2">

      <div class="dtc">
        <h4 class="ttu tracked mb2 f5 fw2">LIEN{{ if gt $nb_links 1 }}S{{end}}</h4>
        <ul class="list pa0 ma0">
          {{- with .Params.git -}}
          <li class="{{ $li_links }}"><a class="{{ $a_links }}" href="{{ . }}" title="Framagit" target="_blank" rel="noopener noreferrer">code</a></li>
          {{- end -}}
          {{- with .Params.vimeo -}}
          <li class="{{ $li_links }}"><a class="{{ $a_links }} " href="https://vimeo.com/{{ . }}" title="Viméo" target="_blank" rel="noopener noreferrer">vidéo</a></li>
          {{- end -}}
          {{- with .Params.youtube -}}
          <li class="{{ $li_links }}"><a class="{{ $a_links }}" href="https://youtu.be/{{ . }}" title="Youtube" target="_blank" rel="noopener noreferrer">vidéo</a></li>
          {{- end -}}
          {{- with .Params.wiki -}}
          <li class="{{ $li_links }}"><a class="{{ $a_links }} " href="{{ . }}" title="Wiki" target="_blank" rel="noopener noreferrer">wiki</a></li>
          {{- end -}}
          {{- with .Params.link -}}
          <li class="{{ $li_links }}"><a class="{{ $a_links }}" href="{{ . }}" title="Website" target="_blank" rel="noopener noreferrer">site web</a></li>
          {{- end -}}
        </ul>
      </div>

    {{- $files := .Resources.Match "download/*" -}}
    {{- with $files -}}
      <div class="dtc pl4-l pl3">
        <h4 class="ttu tracked mb2 f5 fw2">TÉLÉCHARGEMENT{{ if gt (len $files) 1 }}S{{end}}</h4>
        <ul class="list pa0 ma0">
          {{- range $files -}}
          {{- $f :=  path.Base .Name -}}
          <li class="{{ $li_links }}"><a class="{{ $a_links }}" href="{{ .RelPermalink | safeURL }}" title="{{ $f }}">{{ $f }} &darr;</a></li>
        {{- end -}}
        </ul>
        </div>
    {{- end -}}

    </div>
    {{- end -}}
  </div>
</section>

  {{- if .Params.cover_video -}}
  <div class="mw9 center">
    {{- with .Params.vimeo -}}
    <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe src="https://player.vimeo.com/video/{{ . }}?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    {{- end -}}

    {{- with .Params.youtube -}}
    <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe src="https://www.youtube-nocookie.com/embed/{{ . }}" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="{{ $.Title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {{- end -}}
  </div>
  {{- end -}}

  <div class="mw9 center pb5-l pb2">
    {{- range where (.Resources.Match "*.jpg") "Name" "!=" .Params.image -}}
      {{- $img_480 := .Resize "480x" -}}
      {{- $img_800 := .Resize "800x" -}}
      {{- $img_1200 := .Resize "1200x" -}}
      {{- $img_1980 := .Resize "1980x" -}}

      <img alt="{{ .Title }}"
          class="lazy mt3-l mt2"
          src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E"
          data-src="{{ .RelPermalink }}"
          data-srcset="{{ $img_480.RelPermalink }} 480w, 
                      {{ $img_800.RelPermalink }} 800w, 
                      {{ $img_1200.RelPermalink }} 1200w,
                      {{ $img_1980.RelPermalink }} 1980w"
          data-sizes="100w"/>
    {{- end -}}
  </div>
{{ end }}