{{ define "main" }}
{{- $layout := "ph4-l ph3 pb4-l pb2" -}}
{{- $div := "w-25-l w-50-m w-100 pa2 mb4" -}}

<main role="main"> 
  <div class="cf w-100 {{ $layout }}">

  <h2 class="lh-title f2 fw6 black-80 tracked pl1 mv3">#{{ .Title }}</h2>

  <div class="flex flex-wrap">
  {{- range  .Pages.ByDate.Reverse -}}
  {{- $image := .Resources.GetMatch (.Params.image) -}}
  {{- $image = $image.Fill "600x400 center" -}}
  <div class="{{ $div }}">
    <a href="{{ .RelPermalink }}" 
      class="db aspect-ratio aspect-ratio--4x3 cover bg-center"
      style="background-image:url( {{ $image.RelPermalink }} );" >
    </a>
    <h1 class="f5 ttu fw4 tracked">{{ .Title }}</h1>
    <time class="tracked ttu f5 gray tr " datetime="{{ .Date.Format "2006-01-02" | safeHTML }}">{{ dateFormat "2006" .Date }}</time>
  </div>
  {{- end -}}

  </div>
  </div>
</main>
{{- end -}}

