{{ define "main" }}

{{- $layout := "ph4-l pb5-l ph3-m ph1 pb4" -}}
{{- $div := "fl w-25-l w-50 pa4" -}}
{{- $a_links := "f5 link db dim black-80 nowrap" -}}

{{- $tags := .Site.Taxonomies.tags -}}
{{- $tags_names := slice -}}
{{- range $tags -}}
  {{- $tags_names = $tags_names | append .Page.Title -}}
{{ end }}

<main role="main">

  <h2 class="mb0 ph5-l ph4-m ph1">TAGS</h2>

  <div class="cf w-100 {{ $layout }}">

  {{- $nb_pages := (len $tags) -}}
  {{- $columns := 4 -}}
  {{- $rows := div $nb_pages $columns -}}
  {{- range (seq 0 (sub $columns 1)) -}}

  <div class="{{ $div }}"> 
    {{- $y := . -}}
    {{- range (seq 0 (sub $rows 1)) -}}
      {{- $x := . -}}
      {{- $i := add (add (mul $x $columns) $y) 0 -}}
      {{- $is := printf "%d" $i -}}
      {{- $name := (index $tags_names $i) -}}
      {{- $name = (replace $name " " "-") -}}
      {{- $url := (delimit (slice "/tags" $name) "/" ) -}}
      <h3 class="mb0 pa0 f4"><a class="{{ $a_links }}" href="{{ $url | absLangURL }}" title="Tag {{ $name }}">#{{ $name }}</a></h3>
      <ul class="list pa0 mb0">
      {{- range (index $tags $name) -}}
        <li><a class="{{ $a_links }}" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
      {{- end -}}
    </ul>

    {{- end -}}
  </div>

  {{- end -}}
</div>
</main>
{{ end }}