a { 
  color: black;
}

div.md-text strong{
  font-weight:200
}

div.md-text h2, div.md-text h3, div.md-text h4 {
  font-weight:200;
  padding:0;
  margin:0;
}

div.md-text ul {
  margin:0;
  padding:0 0 0 1em;
}

address.wtf {
  unicode-bidi:bidi-override;
  direction: rtl;
} 

img.lazy {
  opacity: 0;
}

img.lazy:not(.initial) {
  transition: opacity 1s;
}

img.lazy.initial,
img.lazy.loaded,
img.lazy.error {
  opacity: 1;
}

img.lazy :not([src]) {
 visibility: hidden;
}

/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

blockquote {
  margin: 2em 2em 2em 0;
  border-left: 2px solid #e9e4e4;
  padding: 0 0 0 2em;
  font-style: italic;
  font-family: serif;
  color:rgb(105, 104, 104);
}