@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?97044230');
  src: url('../font/fontello.eot?97044230#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?97044230') format('woff2'),
       url('../font/fontello.woff?97044230') format('woff'),
       url('../font/fontello.ttf?97044230') format('truetype'),
       url('../font/fontello.svg?97044230#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?97044230#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-github-text:before { content: '\e800'; } /* '' */
.icon-up-open:before { content: '\e801'; } /* '' */
.icon-download-alt:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e803'; } /* '' */
.icon-up:before { content: '\e804'; } /* '' */
.icon-up-circle:before { content: '\e805'; } /* '' */
.icon-youtube:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-waves:before { content: '\e80a'; } /* '' */
.icon-down-thin:before { content: '\e80b'; } /* '' */
.icon-up-thin:before { content: '\e80c'; } /* '' */
.icon-up-dir:before { content: '\e80d'; } /* '' */
.icon-link-1:before { content: '\e80f'; } /* '' */
.icon-link-2:before { content: '\e810'; } /* '' */
.icon-cc:before { content: '\e811'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-vimeo-circled:before { content: '\f307'; } /* '' */
