{{ define "main" }}
{{- $class_a := "link dim near-white bb" -}}
{{- $class_a_icon := "link gray dim dib h1 w1" -}}
{{- $a_links := "link ttn dim black-80" -}}
{{- $csv_title := "ttu ma0 pt4 pb2 f4-l f5 fw2" -}}

<section class="mw9 center cf pv4">
  
  <div class="fn fl-ns w-100 w-50-l f4 pa5-l pa3">

    <h2 class="lh-title f3 fw6 mv3 ttu tracked">{{.Title}}</h2>
    <ul class="list pa0">
      <li class="pv1">Né en 1978 {{ emojify ":birthday:" }} ― Fr </li>
      <li class="pv1">Vit et travaille à La Rochelle {{ emojify ":ocean:" }}</li>
    </ul>

    <h3 class="mt4 mb0 pa0 fw2 f5">CONTACT</h3>
    <ul class="list pa0 ma0">
      <li class="pv1"><a class="{{ $a_links }}" href="mailto:contact@jeromeabel.net" title="Contact email"><address class="wtf dib fs-normal">ten.lebaemorej@tcatnoc</address></a></li>
    </ul>

    <h3 class="mt4 mb0 pa0 fw2 f5">LIENS</h3>
    <ul class="list pa0 ma0">
      <li class="pv1"><a class="{{ $a_links }}" href="https://framagit.org/jeromeabel" target="_blank" rel="noopener noreferrer" title="Code source (Framagit)">framagit</a></li>
      <li class="pv1"><a class="{{ $a_links }}" href="https://vimeo.com/chateaucarbone" target="_blank" rel="noopener noreferrer" title="Vimeo channel">vimeo</a></li>
    </ul>

    {{ $files := .Resources.Match "download/*" }}
    {{ with $files }}
    <h3 class="mt4 mb2 pa0 fw2 f5">TÉLÉCHARGEMENT</h3>
    <ul class="list pa0 ma0">
      {{ range $files }}
        {{ $f := ( .Title | default (path.Base .Name) )}}
        <li class="pv1"><a class="{{ $a_links }}" href="{{ .RelPermalink | safeURL }}" title="{{ $f }}">{{ $f }} &darr;</a></li>
      {{ end }}
     </ul>
     {{ end }}

  </div>

  <div class="fn fl-ns w-100 w-50-l f4 lh-copy pa5-l pa3 md-text">
    {{ .Content }}
  </div>

</section>

<section class="w-100 center cf f4-l f5 bg-black-05 pb4 pb1-ns">
  <div class="mw9 center pa5-l pa3">
    <h3 class="{{ $csv_title }}">{{ i18n "residencies" }}</h3>
    {{- partial "get-csv-prod.html" "/content/bio/csv/residencies.csv" -}}

    <h3 class="{{ $csv_title }}">{{ i18n "exhibitions" }}</h3>
    {{- partial "get-csv.html" "/content/bio/csv/exhibitions.csv" -}}

    <h3 class="{{ $csv_title }}">Performances</h3>
    {{- partial "get-csv.html" "/content/bio/csv/performances.csv" -}}

    <h3 class="{{ $csv_title }}">Collaborations</h3>
    {{- partial "get-csv-prod.html" "/content/bio/csv/collaborations.csv" -}}

    <h3 class="{{ $csv_title }}">{{ i18n "teaching" }} & Workshops</h3>
    {{- partial "get-csv.html" "/content/bio/csv/teaching.csv" -}}
  </div>
</section>

{{ end }}