{{- $layout := "ph4-l ph2-m ph3 pv4-l pv3" -}}
{{- $color := "black-60" -}}
{{- $a := "link dim" -}}
{{- $a_tag := "bg-black-05 link dim pv1 ph2 dib br2" -}}
<button
    title="Défiler vers le haut" 
    class="dn fixed bottom-2 right-1 f3 dim ph1 br2 pv2 bn pointer bg-black-50 white" 
    id="scroll-btn"><i class="icon-up-open"></i>
</button>

<footer class="{{ $layout }} w-100 bg-white black-30 f5-l f6">    

    <section class="dt dt--fixed w-100 ph2-ns">

        <div class="dtc">
            <div class="measure-wide">
                <h4 class="ttu tracked f4-l f5 fw2 mb2">TAGS</h4>
                <ul class="list pa0 ma0">
                {{ range .Site.Taxonomies.tags }}
                    <li class="dib mv1 mr1"><a href="{{ .Page.RelPermalink }}" class="{{ $a_tag }} {{ $color }}">{{ .Page.Title }}</a></li>
                {{ end }}
                </ul>
            </div>
        </div>
    
        <div class="dtc pl4 pl2-l">
            <h4 class="ttu tracked fw2 f4-l f5 mb2">MENU</h4>
            <ul class="list pa0 ma0 ttu tracked ">
                <li class="pv1"><a href="{{ "/" | relLangURL }}" class="{{ $a }} {{ $color }}">Accueil</a></li>
                <li class="pv1"><a href="{{ "/archives" | relLangURL }}" class="{{ $a }} {{ $color }}">Archives</a></li>
                <li class="pv1"><a href="{{ "/bio" | relLangURL }}" class="{{ $a }} {{ $color }}">Bio</a></li>
                <li class="pv1"><a href="{{ "/lab" | relLangURL }}" class="{{ $a }} {{ $color }}">Lab</a></li>
                <li class="pv1"><a href="{{ "/workshop" | relLangURL }}" class="{{ $a }} {{ $color }}">Workshop</a></li>
            </ul>
        </div>
  
    </section>

    <section class="pv4-ns pv5 ph2-ns">
        <span class="fw2">2021</span> - <a class="ttu tracked {{ $a }} {{ $color }}" href="https://creativecommons.org/licenses/by-nc/4.0/" title="Creative Commons CC BY-NC 4.0">Licence CC BY-NC</a>
    </section>
</footer>