{{- $class_a_icon := "link black-70 dim dib h1 w1" -}}
{{- $class_a := "link dim mid-gray" -}}
{{- $url := . -}}
{{- $sep := "," -}}

<div class="dt">
{{- $csv := getCSV $sep $url -}}
{{- range $i, $r := $csv -}}

{{- $selected := index $r 0 -}}
{{- $date_start := index $r 1 -}}
{{- with $date_start -}} {{ $date_start = . | dateFormat "2006" }} {{ end }}
{{- $date := index $r 2 | dateFormat "2006" -}}
{{- $project := index $r 3 -}}
{{- $event := index $r 4 -}}
{{- $event_link := index $r 5 -}}
{{- $place := index $r 6 -}}
{{- $city := index $r 7 -}}
{{- $country := index $r 8 -}}
{{- $video_link := index $r 9 -}}
{{- $text := index $r 10 -}}

{{/* if gt (strings.Count "" $selected) 1 */}}
<div class="dt-row">
    <div class="dtc">{{ $date }}.</div>
    <div class="dtc pl1 pb1">
        {{ $event }} - 
        {{ with $place }} {{ . }}, {{ end }}
        {{ $city }}
        {{- with $country -}}, {{ . }}{{ end }}.
      </div>
  </div>
  {{/* end */}}
{{ end }}
</div>
