{{- $txt_color := .Param "txt_color" | default "black" -}} 
{{- $txt_alpha := .Param "txt_alpha" | default 80 -}} 
{{- $height := .Param "height" | default "100" -}}
{{- $bg_pos := .Param "bg_pos" | default "bg-center" -}}

{{- $image_file := .Param "image" -}}
{{- $layout := "pa4-l pa3" -}}

{{- if $image_file -}}
  <header class="cover w-100 vh-{{ $height }}-ns vh-75 {{ $bg_pos }} {{ $layout }}" id="img_header">
{{- else -}}
  <header class="{{ $layout }} ">
{{- end -}}
    <nav class="dt w-100 ttu tracked relative f3-ns f5 pa2-ns pa1">
      <div class="dtc v-mid">
        <a class="link dim {{ $txt_color }}-{{ $txt_alpha }}" href="{{ .Site.Home.RelPermalink }}" title="{{ .Site.Title }}">Jérôme Abel</a>
      </div>
      <div class="dtc v-mid tr">
        {{- range $index, $element := .Site.Menus.main -}}
        <a class=" link dim {{ if gt $index 0 }}ml4-l ml3{{ end }} {{ $txt_color }}-{{ $txt_alpha }}" href="{{ $element.Page.RelPermalink | absLangURL }}" title="{{ $element.Title }}">{{ $element.Title }}</a>
        {{- end -}}
      </div>
    </nav>
  </header>