{{ define "main" }}

<main role="main" >
  <section class="dt w-100 bg-black-05 vh-75  " >
    <div class="dtc v-mid tc black-80">
      <h1 class="f1 f-subheadline-ns fw2 tc"><i class="icon-unlink"></i>Oups ...</h1>
      <p class="f3-ns f4 center">Cette page ne semble pas existée</p>
      
    </div>
  </section>
</main>
{{ end }}