{{ define "main" }}
{{- $layout := "pa2 pa4-l" -}}
<main role="main"> 
  <div class="cf w-100 {{ $layout }}">
    {{- $pages :=  where .Site.RegularPages "Section" "workshop" }}
    {{- range $pages -}}

      {{- $image_file := .Params.image_home | default .Params.image -}} 
      {{- $image1 := .Resources.GetMatch ($image_file) -}}

      {{- $div := "fl w-100 w-50-m w-25-l" -}}
      {{- $ratio := "3x4" -}}
      {{- $image_size := "500x670 center" -}}
      {{- $h1_pos := "" }}
      {{- $image_webp := $image1.Fill "500x670 webp center" -}}

      {{- if eq .Params.weight 1 -}}
        {{- $div = "w-100 ph2 pb2" -}}
        {{- $ratio = "16x9" -}}
        {{- $image_size = "2000x1125 center" -}}
        {{- $h1_pos = "absolute bottom-0 right-1" -}}
        {{- $image_webp = $image1.Fill "2000x1125 webp center" -}}
      {{ else }}
        {{- $div = "fl w-100 w-50-l pa2" -}}
        {{- $ratio = "8x5" -}}
        {{- $image_size = "1000x625 center" -}}
        {{- $image_webp = $image1.Fill "1000x625 webp center" -}}
      {{- end -}}

      {{ $image := $image1.Fill $image_size }}

      <div class="{{ $div }} ">
        <a href="{{ .RelPermalink }}" 
        class="db aspect-ratio aspect-ratio--{{ $ratio }} cover bg-center no-underline"
        style="background-image: url({{ $image_webp.RelPermalink }}), url({{ $image.RelPermalink }}) ;"
        title="{{ i18n "open" }} {{ .Title }}">
          <h1 class="{{ with $h1_pos }}{{.}}{{end}} ml3 pa3-l pa2 dib ttu tracked fw4 f4-ns f5 {{ .Params.txt_color_home | default "black" }}">{{ .Title }}</h1>
        </a>
      </div>
    {{- end -}}
  </div>
</main>
{{ end }}